body {
  margin: 0px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

h1,
ul,
p {
  margin: 0px;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: inherit;
}

span {
  color: #F01010;
}

img {
  max-width: 100%;
  display: block;
}

.header-bg {
  background-color: #000000;
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu a {
  color: #ffffff;
  display: inline-block;
  padding: 16px 0;
  font-size: 18px;

  position: relative;
}

.header-menu a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background-color: #ffffff;
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover:after {
  width: 100%;
}

@media (max-width: 800px) {
  .header-menu a {
    padding: 12px 16px;
  }

  .header-menu a:after {
    display: none;
  }

  .header-menu {
    gap: 20px;
  }
}

@media (max-width: 520px) {
  .header {
    justify-content: center;
  }

  @media (max-width: 480px) {
    .header-menu {
      gap: 12px;
    }

    .header-menu a {
      padding: 8px 12px;
    }
  }
}

.introducao-bg {
  background-color: #000000;
  color: #ffffff;
  box-shadow: inset 0 -120px rgb(255, 255, 255);

}

.introducao {
  box-sizing: border-box;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto
}

.introducao-conteudo {
  align-self: end;
  padding-bottom: 200px;
}

.introducao img {
  height: 100%;
  margin-bottom: -120px;
  object-fit: cover;
  border-radius: 4px;
}

.introducao h1 {
  font-size: 4rem;
  line-height: 1.125;
  margin-bottom: 32px;
}

.introducao p {
  color: #B2B2B2;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 32px;
}

.introducao a {
  color: #330000;
  font-weight: 600;
  background: linear-gradient(#F01010 0%, #960707 100%);
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  transition: 0.1s;
}

.introducao a:hover {
  color: #ffffff;
}

@media (max-width: 1000px) {
  .introducao {
    grid-template-columns: 1fr;
    gap: 40px 0px;
    text-align: center;

  }

  .introducao-conteudo {
    padding-top: 32px;
    padding-bottom: 0px;
  }

  .introducao img {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
  }

  .introducao h1 {
    font-size: 3rem;
  }

  .introducao p {
    font-size: 1.25rem;
  }

  .introducao a {
    color: #ffffff;
    padding: 12px 24px;
  }
}