/*botao*/
.botao {
  color: var(--p5);
  background: linear-gradient(var(--p1) 0%, var(--p4) 100%);
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  transition: 0.1s;
  font: 400 1.125rem/1.35 "Poppins", sans-serif;
}

.botao:hover {
  color: var(--branco);
}

@media (max-width: 1000px) {
  .botao {
    grid-template-columns: 1fr;
    gap: 40px 0px;
    text-align: center;
    font: 400 1rem/1 "Poppins", sans-serif;

  }

  .botao {
    color: var(--branco);
    padding: 12px 24px;
  }
}