:root {

  /*tons de cinza*/
  --preto: #000000;
  --cor-11: #111111;
  --cor-10: #2E2E2E;
  --cor-9: #404040;
  --cor-8: #595959;
  --cor-7: #717171;
  --cor-6: #9C9C9C;
  --cor-5: #B2B2B2;
  --cor-4: #CCCCCC;
  --cor-3: #DEDEDE;
  --cor-2: #EDEDED;
  --cor-1: #f7f7f7;
  --branco: #FFFFFF;

  /*cores principais*/
  --p5: #330000;
  --p4: #660000;
  --p3: #A60000;
  --p2: #E40B0B;
  --p1: #F01010;

}

.cor-preta {
  color: var(--preto);
}

.cor-11 {
  color: var(--cor-11);
}

.cor-10 {
  color: var(--cor-10);
}

.cor-9 {
  color: var(--cor-9);
}

.cor-8 {
  color: var(--cor-8);
}

.cor-7 {
  color: var(--cor-7);
}

.cor-6 {
  color: var(--cor-6);
}

.cor-5 {
  color: var(--cor-5);
}

.cor-4 {
  color: var(--cor-4);
}

.cor-3 {
  color: var(--cor-3);
}

.cor-2 {
  color: var(--cor-2);
}

.cor-1 {
  color: var(--cor-1);
}

.cor-branca {
  color: var(--branco);
}











.cor-p1 {
  color: var(--p1);
}

.cor-p2 {
  color: var(--p2);
}

.cor-p3 {
  color: var(--p3);
}

.cor-p4 {
  color: var(--p4);
}

.cor-p5 {
  color: var(--p5);
}